<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header"/>
<body>
<h1>스프링부트로 시작하는 웹 서비스 Ver.2</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="post: ${posts}">
            <td th:text="${post.getId()}"></td>
            <td> <a href="" th:href="@{/posts/update/{id}(id=${post.getId()})}" >[[${post.getTitle()}]]</a> </td>
            <td th:text="${post.getAuthor()}"></td>
            <td th:text="${post.getModifiedDate()}"></td>
        </tr>
        </tbody>
    </table>
    <footer th:replace="layout/footer :: footer"/>
</div>
</body>
</html>